
.root {
    -mi-dorado:#FFD700;
}
.VBOX-GradienteDerecho{
    -fx-background-color: linear-gradient(to right, #000000 10%, #2a220d 100%);
}
.label-Titulos-1{
    -fx-text-fill: -mi-dorado;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}
.Hbox-GradienteTotal{
    -fx-background-color: linear-gradient(to right, #000000 40%, #D4AF37 70%);
}
.Label-Pedir1{
    -fx-font-family: "Segoe UI";
    -fx-text-fill:  -mi-dorado;

}
.label-MostrarId{
    -fx-text-fill:  -mi-dorado;
    -fx-font-size: 10px;
    -fx-font-weight: bold;



}
.TextFieldEntrada1{
    -fx-opacity: 0.8;
    -fx-border-radius: 5 5 5 5;
    -fx-background-color: grey;
    -fx-background-radius: 5 5 5 5;
    -fx-font-family: "Corbel Light";
    -fx-text-fill: -mi-dorado;
    -fx-font-weight: bold;

}

.ButtonConfirmar1{
    -fx-background-color: #D4AF37;
    -fx-text-fill:Black;
    -fx-font-weight: bold;
}


.ButtonConfirmar2{
    -fx-background-color: #242222;
    -fx-background-radius: 5 5 5 5;
    -fx-text-fill:-mi-dorado;
    -fx-font-weight: bold;
    -fx-border-radius: 5 5 5 5;
    -fx-border-color: -mi-dorado;
    -fx-opacity: 0.8;


}
.ButtonConfirmar2:hover{
    -fx-background-color: #1a1a1a;
    -fx-opacity: 0.6;
}

.Hypervinculos1{
    -fx-text-fill: -mi-dorado;
}

.TextoErrores1{
    -fx-text-fill: -mi-dorado;
    -fx-font-family: "Roboto Thin";
}
.titlePanel > .title {
    -fx-background-color: #242222;
    -fx-background-insets: 0;

}
.titlePanel {
    -fx-background-insets: 0;
    -fx-text-fill: -mi-dorado;
    -fx-border-radius: 5 5 5 5;
    -fx-border-color:  -mi-dorado;;
}
.AnchorPanel-Titled{
    -fx-background-color: #242222;
    -fx-background-insets: 0;
    -fx-border-color: Transparent;
    -fx-background-radius: -mi-dorado;
}


.titled-pane > .content {
    -fx-background-color: #1a1a1a;
    -fx-background-insets: 0;
    -fx-border-color: #FFD700;
    -fx-border-width: 0;
}

.TableView-Listas{
    -fx-background-color:  Transparent ;
}

.TableView-Listas .table-cell {
    -fx-text-fill:  #1a1a1a; /* Hace que el texto de las celdas use tu dorado */
}

.TableView-Listas .column-header {
    -fx-background-color: -mi-dorado; /* Mantén el fondo oscuro de tu app */
}

